.navbar
  .container
    .logo Enova

    .pull-left{role: 'navigation'}
      %ul.nav
        %li
          %a{href: '#'} 
            = fa_icon 'home'
            %span.link-text Home
        %li
          %a{href: '#'}
            = fa_icon 'bell'
            %span.link-text Notifications
        %li
          %a{href: '#'} 
            //%span.icon.icon-discover
            = fa_icon 'rocket'
            %span.link-text Discover 
        %li
          %a{href: '#'} 
            = fa_icon 'user'
            %span.link-text Me 

    .pull-right
      %div{role: 'search'}
        //%form
        %input.search-input{type: 'text', placeholder: 'Search'}/ 
        %span.search-icon
          = fa_icon 'search'

      %ul.nav.right-actions
        %li
          %a{href: '#'}
            = fa_icon 'envelope'
        %li
          %a{href: '#'}
            = fa_icon 'cog'
        %li
          %a{href: '#'}
            = fa_icon 'pencil-square-o'



