!!!
%html
  %head
    %title Enova Twitter
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 

  %body
    #page{class: "#{controller_name}"}
      = render 'layouts/navbar' 
      = render 'layouts/profile_navbar' 

      .container
        = yield

